body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

input[type="text"] {
  border: none;
  border-radius: 0;
  font-size: 20px;
  height: 28px;
  padding-left: 8px;
}

.boar {
  background-color: black;
  height: 100vh;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

.btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 12px;
  margin-top: 56px;
}

.btn-bar {
  align-items: center;
  background-color: rgb(20, 33, 62);
  display: flex;
  height: 40px;
  justify-content: flex-start;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.btn-sm {
  align-items: center;
  background-color: black;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  margin: 0 4px;
  min-height: 30px;
  min-width: 40px;
  justify-content: center;
  user-select: none;
}

.keycap {
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  font-size: 32px;
  height: 80px;
  justify-content: center;
  margin: 4px;
  min-height: 80px;
  min-width: 80px;
  user-select: none;
  width: fit-content;
}


.keycap-commands {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.keycap-command {
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 20px;
  justify-content: center;
  margin: 4px;
  border: 1px solid black;
}

/* common */

.ml {
  margin-left: 8px;
}


/* Modal */

.modal-overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
}

.modal-new-keycap {
  background-color: #0d1117;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: auto;
  left: 0;
  margin: 20px;
  outline: 4px solid #f78166;
  top: 0;
  width: calc(100% - 40px);
}

.title-btn {
  align-items: center;
  border-radius: 4px;
  border: 1px dotted white;
  display: flex;
  font-size: 12px;
  height: 30px;
  justify-content: center;
  margin: 4px;
  min-width: 80px;
  user-select: none;
  width: fit-content;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-left: 20px;
  width: calc(100% - 40px);
}

#label {
  width: 120px;
}

.modal-title {
  font-size: 16px;
  justify-content: space-between;
  margin: 12px 0;
}

.row-type {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#command, #idApp {
  width: calc(100% - 130px);
}

.save-n-close {
  justify-content: space-around;
}